<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BuildVersion</key>
    <string>13D15</string>
    <key>IMEI</key>
    <string>35 884805 093285 4</string>
    <key>MEID</key>
    <string>35884805093285</string>
    <key>MessageType</key>
    <string>Authenticate</string>
    <key>OSVersion</key>
    <string>9.2.1</string>
    <key>ProductName</key>
    <string>iPad4,5</string>
    <key>SerialNumber</key>
    <string>F4KMG0FSFLMM</string>
    <key>Topic</key>
    <string>com.apple.mgmt.External.*</string>
    <key>UDID</key>
    <string>UDID</string>
</dict>
</plist>
